<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmm.mapper.AlbumMapper">

    <resultMap id="r1" type="Album">
        <id column="aid" property="id"></id>
        <result column="aname" property="name"></result>
        <result column="acnum" property="chapterNum"></result>
        <result column="broadcast" property="broadcast"></result>
        <result column="rating" property="rating"></result>
        <result column="aimg" property="img"></result>
        <result column="pubDate" property="pubDate"></result>
        <result column="brief" property="brief"></result>
        <association property="guru" javaType="Guru">
            <id column="gid" property="id"></id>
            <result column="dharma" property="dharma"></result>
            <result column="headPic" property="headPic"></result>
            <result column="gstatus" property="status"></result>
        </association>
        <collection property="children" ofType="Chapter">
            <id column="cid" property="id"></id>
            <result column="cname" property="name"></result>
            <result column="csize" property="size"></result>
            <result column="duration" property="duration"></result>
            <result column="audioAddr" property="audioAddr"></result>
            <result column="cstatus" property="status"></result>
            <result column="uploadDate" property="uploadDate"></result>
            <result column="caid" property="albumId"></result>
        </collection>
    </resultMap>

    <select id="queryAll" resultMap="r1">
        select a.id           aid,
               a.name         aname,
               a.chapter_num  acnum,
               a.broadcast    broadcast,
               a.rating       rating,
               a.img          aimg,
               a.pub_date     pubDate,
               a.brief        brief,
               ch.id          cid,
               ch.name        cname,
               ch.size        csize,
               ch.duration    duration,
               ch.audio_addr  audioAddr,
               ch.status      cstatus,
               ch.album_id    caid,
               ch.upload_date uploadDate,
               g.id           gid,
               g.dharma       dharma,
               g.head_pic     headPic,
               g.status       gstatus
        from (select *
              from album limit
                   ${(page-1)*rows},
                   #{rows}) a
                 LEFT JOIN chapter ch ON a.id = ch.album_id
                 LEFT JOIN guru g on
                a.guru_id = g.id
    </select>

    <select id="selectOneById" resultMap="r1" parameterType="java.lang.Integer">
        select a.id           aid,
               a.name         aname,
               a.chapter_num  acnum,
               a.broadcast    broadcast,
               a.rating       rating,
               a.img          aimg,
               a.pub_date     pubDate,
               a.brief        brief,
               ch.id          cid,
               ch.name        cname,
               ch.size        csize,
               ch.duration    duration,
               ch.audio_addr  audioAddr,
               ch.status      cstatus,
               ch.upload_date uploadDate,
               g.id           gid,
               g.dharma       dharma,
               g.head_pic     headPic,
               g.status       gstatus
        from (select *
              from album
              where id = #{id}) a
                 LEFT JOIN chapter ch ON a.id = ch.album_id
                 LEFT JOIN guru g on
                a.guru_id = g.id
    </select>

    <insert id="insertOne" parameterType="Album">
        insert into album(name, chapter_num, guru_id, broadcast, rating, img, pub_date, brief)
            value
            (
            #{name}
            ,
            #{chapterNum}
            ,
            #{guru.id}
            ,
            #{broadcast}
            ,
            #{rating}
            ,
            #{img}
            ,
            #{pubDate}
            ,
            #{brief}
        )
    </insert>

    <select id="getSimpleAll" resultMap="r2">
        select id,name
        FROM album
    </select>
    <resultMap id="r2" type="Album">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
    </resultMap>
</mapper>
